# Originality Methods

## Algorithm to Automate Originality Scoring

### Import Packages

In [1]:
import nltk
import pandas as pd
import numpy as np
from nltk.tokenize import sent_tokenize, word_tokenize
import re

from nltk.stem import WordNetLemmatizer
import string

from sklearn.feature_extraction.text import CountVectorizer

import matplotlib.pyplot as plt
from yellowbrick.cluster import KElbowVisualizer

from nltk.cluster.kmeans import KMeansClusterer

import shared_functions as sf
from shared_functions import *

## Originality Algo 
### Counter Vectorizer + clustering

In [2]:
# calculate originality score for a phrase based on number of responses in a cluster
# calculate the rarity of a phrase
def get_clustered_originality_score(originality_rating_df, num_clusters, responses, display_clusters):
    # get cluster df
    clusters_df = sf.get_counts_vector(num_clusters, responses, display_clusters)
    # create dictionary out of cluster df
    clusters = dict(zip(clusters_df.category, clusters_df.responses))
        
    # initialize empty dictionary to store the score for a category
    clusters_scores = dict.fromkeys(clusters)
    
    # initialize empty dictionary to store 
    # will store 0 or 1, 1 if only 1 response in cluster
    clusters_rarity = dict.fromkeys(clusters)
    
    # get the average cosine distance for a cluster
    for key in clusters:
        score = 1.0
        score = score - (len(clusters[key])/len(originality_rating_df.index))
        clusters_scores[key] = score
        if (len(clusters[key]) == 1):
            clusters_rarity[key] = 1
        else:
            clusters_rarity[key] = 0
        
    # create dictionary to store a phrase and its new originality score 
    # new score is the average of the responses in one cluster
    phrase_scores_dict = {}
    # create dictionary to store a phrase and its rarity 
    # will be 0 or 1, 1 if only response in that cluster
    phrase_rarity_dict = {}
    for key in clusters:
        for phrase in clusters[key]:
            phrase_scores_dict[phrase] = clusters_scores[key]
            phrase_rarity_dict[phrase] = clusters_rarity[key]
            
    # make a list that matches the one in the current dataframe
    # return list to be added to dataframe
    df_phrases_scores_list = [] 
    # make a list that matches the one in the current dataframe
    # return list to be added to dataframe
    df_phrases_rarity_list = []
    for phrase in originality_rating_df['response_processed'].tolist():
        df_phrases_scores_list.append(phrase_scores_dict[phrase])
        df_phrases_rarity_list.append(phrase_rarity_dict[phrase])
                    
    # return the two parallel list of the inverse mapping of the cluster frequency
    # and the rarity marking (1 or 0)
    return (df_phrases_scores_list, df_phrases_rarity_list)

In [3]:
# create df of each participants originality count score, the amount of 
def get_originality_score_df(originality_df):
    # get id list and create empty dict
    id_list = get_id_list(originality_df)
    participants_originality = {k: 0 for k in id_list}
    # add the number of unique responses aka clusters with only 1 response
    for participant in id_list:
        id_df = originality_df[originality_df.id == participant]
        participants_originality[participant] = id_df['originality'].sum()
    
    # return counts df by participant
    return pd.DataFrame(participants_originality.items(), columns=['id', 'originality'])

In [4]:
# calculate the originality freq and counts for a response and participant respectively
def get_originality_count_vectorizer(df, stopwords_list, num_clusters, join_list, display_clusters):
    # clean the dataframe
    originality_rating_df = sf.get_cleaned_responses_df(df, stopwords_list, join_list)
    responses = originality_rating_df['response_processed'].tolist()
            
    originality_results = get_clustered_originality_score(originality_rating_df, num_clusters, responses, display_clusters)
    # add frequency column to results df
    originality_rating_df['cluster_freq'] = originality_results[0]
    # add 1/0 column to show if that phrase was by itself in a cluster
    originality_rating_df['originality'] = originality_results[1]
    
    # add the transformed values of the cluster frequency as a column
    originality_rating_df['freq'] = (1 - originality_rating_df['cluster_freq'])
    originality_rating_df['t_freq'] = (.05/(.05 + originality_rating_df['freq']))**2
    
    # get the original phrases counts df
    originality_scores = get_originality_score_df(originality_rating_df)

    # return tuple of freq and count results respectively
    return (originality_rating_df, originality_scores)

## Collect the Method Results

In [5]:
# calculate originality scores from method
def get_originality_scores(data_dict, num_clusters):
    # list to store the originality results
    results_list = []
    # list of the keys in the data dictionary passed in
    data_keys = list(data_dict.keys())
    for data in data_keys:
        # get originality results for each dataset
        results = get_originality_count_vectorizer(data_dict[data], sf.stopwords_edited, num_clusters, True, False)
        # add originality results to a list
        results_list.append(results)
        
    # return list
    return results_list

## Write Originality Results into CSVs

In [6]:
underscore = "_"

In [7]:
# write originality freq results into csvs
def write_originality_results_freq(data_dict, results, date):
    # get list of prompts from the data_dict
    data_keys = list(data_dict.keys())
    # iterate through the results list, write out the corresponding freqs table
    for i in range(len(data_keys)):
        results[i][0].to_csv("originality_results_" + date + underscore + "freqs" + underscore + data_keys[i] + ".csv", encoding = 'utf-8', index=False)

In [8]:
# write originality counts results into csvs
def write_originality_results_counts(data_dict, results, date):
    # get list of prompts from the data_dict
    data_keys = list(data_dict.keys())
    # iterate through the results list, write out the corresponding counts table
    for i in range(len(data_keys)):
        results[i][1].to_csv("originality_results_" + date + underscore + "counts" + underscore + data_keys[i] + ".csv", encoding = 'utf-8', index=False)

## Example Code

In [9]:
import os
from os.path import expanduser
import glob
cwd = os.getcwd()

In [26]:
# read in the official novelty results
originality_dict = {}
for filename in glob.glob(cwd + '/..//data/novelty/official/official_csvs/*.csv'):
    originality_dict[filename[103:-4]] = pd.read_csv(filename)

In [27]:
list(originality_dict.keys())

['autdata_official_box',
 'autdata_official_brick',
 'autdata_official_chair',
 'autdata_official_cup',
 'autdata_official_key',
 'autdata_official_pencil',
 'autdata_official_rope',
 'autdata_official_shoe']

In [28]:
originality_dict['autdata_official_box']

       id item                               response  novelty_1  novelty_2
0    1094  Box                        to store things          1          1
1    1094  Box                        to build a fort          3          4
2    1094  Box                         as an umbrella          3          4
3    1094  Box                       to catch a bunny          3          4
4    1093  Box                            standing on          2          2
..    ...  ...                                    ...        ...        ...
443  1525  Box                       put things in it          1          1
444  1525  Box  cut it open and use it as a floor mat          2          4
445  1525  Box   use it as a support to put things on          2          3
446  1525  Box                   let a cat play in it          3          3
447  1525  Box                          return things          2          1

[448 rows x 5 columns]

In [30]:
get_originality_scores(originality_dict, 80)

[(       id item                               response  novelty_1  novelty_2  \
  0    1094  Box                        to store things          1          1
  1    1094  Box                        to build a fort          3          4
  2    1094  Box                         as an umbrella          3          4
  3    1094  Box                       to catch a bunny          3          4
  4    1093  Box                            standing on          2          2
  ..    ...  ...                                    ...        ...        ...
  442  1372  Box          trap unwanted bugs or animals          3          3
  444  1525  Box  cut it open and use it as a floor mat          2          4
  445  1525  Box   use it as a support to put things on          2          3
  446  1525  Box                   let a cat play in it          3          3
  447  1525  Box                          return things          2          1

             response_processed  cluster_freq  originality      freq    t_freq
  0                       store      0.961451            0  0.038549  0.318842
  1                  build fort      0.977324            0  0.022676  0.473327
  2                    umbrella      0.732426            0  0.267574  0.024789
  3                 catch bunny      0.997732            1  0.002268  0.915114
  4                    standing      0.732426            0  0.267574  0.024789
  ..                        ...           ...          ...       ...       ...
  442  trap unwanted bug animal      0.995465            0  0.004535  0.840595
  444        cut open floor mat      0.732426            0  0.267574  0.024789
  445                   support      0.993197            0  0.006803  0.774822
  446              let cat play      0.970522            0  0.029478  0.395768
  447                    return      0.732426            0  0.267574  0.024789

  [441 rows x 10 columns],
        id  originality
  0   1087            1
  1   1093            2
  2   1094            1
  3   1102            0
  4   1104            0
  ..   ...          ...
  84  1599            0
  85  1603            0
  86  1610            0
  87  1614            0
  88  1621            0

  [89 rows x 2 columns]),
 (       id   item                                        response  novelty_1  \
  0    1094  Brick                               build a structure          1
  1    1094  Brick                        throw and break a window          3
  2    1094  Brick                         use as a stepping stool          3
  3    1094  Brick  drop a brick over a small fire to snuff it out          4
  4    1094  Brick                                     as a hammer          3
  ..    ...    ...                                             ...        ...
  389  1525  Brick                                 throw at things          3
  390  1525  Brick                                 use as a hammer          3
  391  1525  Brick                          use to prop up a table          2
  392  1525  Brick                                 use as a weight          2
  393  1525  Brick                            break things with it          2

       novelty_2           response_processed  cluster_freq  originality  \
  0            1              build structure      0.987277            0
  1            2           throw break window      0.987277            0
  2            3               stepping stool      0.964377            0
  3            4  drop brick small fire snuff      0.989822            0
  4            4                       hammer      0.819338            0
  ..         ...                          ...           ...          ...
  389          2                        throw      0.974555            0
  390          3                       hammer      0.819338            0
  391          2                   prop table      0.979644            0
  392          2                       weight      0.969466            0
  393          2                        break      0.933842            0

           freq    t_freq
  0    0.012723  0.635464
  1    0.012723  0.635464
  2    0.035623  0.341000
  3    0.010178  0.690340
  4    0.180662  0.046988
  ..        ...       ...
  389  0.025445  0.439214
  390  0.180662  0.046988
  391  0.020356  0.505051
  392  0.030534  0.385459
  393  0.066158  0.185286

  [393 rows x 10 columns],
        id  originality
  0   1087            0
  1   1093            1
  2   1094            0
  3   1102            0
  4   1104            0
  ..   ...          ...
  84  1603            0
  85  1610            0
  86  1614            0
  87  1621            1
  88  1622            1

  [89 rows x 2 columns]),
 (       id   item                           response  novelty_1  novelty_2  \
  0    1159  Chair                          to sit in          1          1
  1    1159  Chair                 to stand on top of          2          2
  2    1159  Chair             to make a piece of art          4          3
  3    1159  Chair                        to decorate          3          3
  4    1159  Chair                       to play with          3          3
  ..    ...    ...                                ...        ...        ...
  427  1464  Chair                            sitting          1          1
  428  1464  Chair  standing to reach a higher object          2          2
  429  1464  Chair                           sleeping          4          3
  430  1464  Chair                           building          3          3
  431  1464  Chair                    resting objects          2          3

                 response_processed  cluster_freq  originality      freq  \
  0                             sit      0.865116            0  0.134884
  1                           stand      0.965116            0  0.034884
  2                       piece art      0.990698            0  0.009302
  3                        decorate      0.993023            0  0.006977
  4                            play      0.986047            0  0.013953
  ..                            ...           ...          ...       ...
  427                       sitting      0.939535            0  0.060465
  428  standing reach higher object      0.993023            0  0.006977
  429                      sleeping      0.781395            0  0.218605
  430                      building      0.993023            0  0.006977
  431                resting object      0.988372            0  0.011628

         t_freq
  0    0.073138
  1    0.346969
  2    0.710880
  3    0.770096
  4    0.611240
  ..        ...
  427  0.204875
  428  0.770096
  429  0.034651
  430  0.770096
  431  0.658241

  [430 rows x 10 columns],
        id  originality
  0   1087            1
  1   1093            0
  2   1094            0
  3   1102            1
  4   1104            1
  ..   ...          ...
  85  1603            0
  86  1610            0
  87  1614            0
  88  1621            0
  89  1622            1

  [90 rows x 2 columns]),
 (       id item                response  novelty_1  novelty_2  \
  0    1159  Cup     drink things out of          1          1
  1    1159  Cup         to trap bugs in          2          3
  2    1159  Cup           to stack with          2          3
  3    1159  Cup          to put food in          2          2
  4    1159  Cup      to play games with          3          3
  ..    ...  ...                     ...        ...        ...
  437  1372  Cup           trap a spider          3          3
  438  1372  Cup          scoop dog food          2          3
  439  1525  Cup             hold drinks          1          1
  440  1525  Cup  make a cup snake thing          4          4
  441  1525  Cup  use for drinking games          2          3

      response_processed  cluster_freq  originality      freq    t_freq
  0                drink      0.918552            0  0.081448  0.144688
  1             trap bug      0.959276            0  0.040724  0.303736
  2                stack      0.952489            0  0.047511  0.262924
  3                 food      0.995475            0  0.004525  0.840912
  4            play game      0.979638            0  0.020362  0.504968
  ..                 ...           ...          ...       ...       ...
  437        trap spider      0.959276            0  0.040724  0.303736
  438     scoop dog food      0.990950            0  0.009050  0.716974
  439         hold drink      0.986425            0  0.013575  0.618546
  440          cup snake      0.952489            0  0.047511  0.262924
  441      drinking game      0.993213            0  0.006787  0.775242

  [442 rows x 10 columns],
        id  originality
  0   1087            0
  1   1093            0
  2   1094            0
  3   1102            0
  4   1104            1
  ..   ...          ...
  84  1603            0
  85  1610            0
  86  1614            0
  87  1621            0
  88  1622            0

  [89 rows x 2 columns]),
 (       id item                                           response  novelty_1  \
  0    1094  Key                                     to open a door          1
  1    1094  Key             to scratch something into the sidewalk          3
  2    1094  Key  use to separate two things that are stuck toge...          3
  3    1094  Key                                    scratch an itch          3
  4    1093  Key                                          unlocking          1
  ..    ...  ...                                                ...        ...
  377  1372  Key                           scratch a lottery ticket          3
  378  1372  Key                 mark a food box with your initials          3
  379  1525  Key                                      use on a lock          1
  380  1525  Key                          use to cut open packaging          2
  381  1525  Key                             clean your fingernails          4

       novelty_2      response_processed  cluster_freq  originality      freq  \
  0            1               open door      0.934383            0  0.065617
  1            3        scratch sidewalk      0.947507            0  0.052493
  2            4          separate stuck      0.824147            0  0.175853
  3            3            scratch itch      0.947507            0  0.052493
  4            1               unlocking      0.986877            0  0.013123
  ..         ...                     ...           ...          ...       ...
  377          3  scratch lottery ticket      0.981627            0  0.018373
  378          3   mark food box initial      0.984252            0  0.015748
  379          1                    lock      0.976378            0  0.023622
  380          3      cut open packaging      0.989501            0  0.010499
  381          4        clean fingernail      0.824147            0  0.175853

         t_freq
  0    0.187024
  1    0.237984
  2    0.049010
  3    0.237984
  4    0.627422
  ..        ...
  377  0.534779
  378  0.578328
  379  0.461237
  380  0.683043
  381  0.049010

  [381 rows x 10 columns],
        id  originality
  0   1087            1
  1   1093            1
  2   1094            0
  3   1102            1
  4   1104            0
  ..   ...          ...
  85  1603            0
  86  1610            1
  87  1614            1
  88  1621            1
  89  1622            2

  [90 rows x 2 columns]),
 (       id    item                   response  novelty_1  novelty_2  \
  0    1159  Pencil              to write with          1          1
  1    1159  Pencil    to point to things with          3          2
  2    1159  Pencil             thing to throw          3          2
  3    1159  Pencil  thing to erase marks with          1          2
  4    1159  Pencil      thing to measure with          4          3
  ..    ...     ...                        ...        ...        ...
  416  1464  Pencil                    drawing          1          1
  417  1464  Pencil      tucked behind the ear          2          3
  418  1464  Pencil                    erasing          1          2
  419  1464  Pencil              poking a hole          2          3
  420  1464  Pencil           opening a letter          3          3

      response_processed  cluster_freq  originality      freq    t_freq
  0                write      0.888361            0  0.111639  0.095686
  1                point      0.990499            0  0.009501  0.706137
  2                throw      0.767221            0  0.232779  0.031264
  3           erase mark      0.997625            1  0.002375  0.911354
  4              measure      0.767221            0  0.232779  0.031264
  ..                 ...           ...          ...       ...       ...
  416            drawing      0.973872            0  0.026128  0.431368
  417         tucked ear      0.767221            0  0.232779  0.031264
  418            erasing      0.973872            0  0.026128  0.431368
  419        poking hole      0.992874            0  0.007126  0.766080
  420     opening letter      0.995249            0  0.004751  0.833993

  [421 rows x 10 columns],
        id  originality
  0   1087            0
  1   1093            0
  2   1094            0
  3   1102            0
  4   1104            0
  ..   ...          ...
  85  1603            0
  86  1610            1
  87  1614            0
  88  1621            1
  89  1622            1

  [90 rows x 2 columns]),
 (       id  item                     response  novelty_1  novelty_2  \
  0    1094  Rope                to climb with          1          1
  1    1094  Rope               to hang things          2          3
  2    1094  Rope              as a decoration          3          3
  3    1094  Rope  to make unique designs with          4          3
  4    1094  Rope       to tie different knots          1          2
  ..    ...   ...                          ...        ...        ...
  473  1525  Rope    used to help carry things          2          2
  474  1525  Rope                secure things          2          2
  475  1525  Rope                 hang someone          2          3
  476  1525  Rope                 make a swing          2          4
  477  1525  Rope                   tow things          2          2

       response_processed  cluster_freq  originality      freq    t_freq
  0                 climb      0.947699            0  0.052301  0.238879
  1                  hang      0.956067            0  0.043933  0.283337
  2            decoration      0.993724            0  0.006276  0.789389
  3         unique design      0.997908            1  0.002092  0.921292
  4    tie different knot      0.995816            0  0.004184  0.851523
  ..                  ...           ...          ...       ...       ...
  473          help carry      0.987448            0  0.012552  0.638930
  474              secure      0.786611            0  0.213389  0.036037
  475                hang      0.956067            0  0.043933  0.283337
  476               swing      0.972803            0  0.027197  0.419511
  477                 tow      0.993724            0  0.006276  0.789389

  [478 rows x 10 columns],
        id  originality
  0   1087            0
  1   1093            1
  2   1094            1
  3   1102            0
  4   1104            1
  ..   ...          ...
  85  1603            0
  86  1610            0
  87  1614            0
  88  1621            1
  89  1622            0

  [90 rows x 2 columns]),
 (       id  item                response  novelty_1  novelty_2  \
  0    1159  Shoe            wear on feet          1          1
  1    1159  Shoe         to put stuff in          3          3
  2    1159  Shoe           to workout in          1          1
  3    1159  Shoe  to use as a bug killer          2          3
  4    1159  Shoe  to use as a decoration          3          4
  ..    ...   ...                     ...        ...        ...
  401  1464  Shoe                 fashion          3          2
  402  1464  Shoe                throwing          3          2
  403  1464  Shoe              protection          2          3
  404  1464  Shoe                 running          1          1
  405  1464  Shoe                  hiking          2          1

      response_processed  cluster_freq  originality      freq    t_freq
  0            wear foot      0.967822            0  0.032178  0.370192
  1                stuff      0.772277            0  0.227723  0.032413
  2              workout      0.772277            0  0.227723  0.032413
  3           bug killer      0.992574            0  0.007426  0.758100
  4           decoration      0.990099            0  0.009901  0.696742
  ..                 ...           ...          ...       ...       ...
  401            fashion      0.990099            0  0.009901  0.696742
  402           throwing      0.975248            0  0.024752  0.447393
  403         protection      0.987624            0  0.012376  0.642542
  404            running      0.977723            0  0.022277  0.478561
  405             hiking      0.772277            0  0.227723  0.032413

  [404 rows x 10 columns],
        id  originality
  0   1087            0
  1   1093            0
  2   1094            0
  3   1102            2
  4   1104            1
  ..   ...          ...
  85  1603            1
  86  1610            1
  87  1614            0
  88  1621            0
  89  1622            0

  [90 rows x 2 columns])]

In [31]:
results = Out[30]

In [35]:
results[0][0]

,id,item,response,novelty_1,novelty_2,response_processed,cluster_freq,originality,freq,t_freq
0,1094,Box,to store things,1,1,store,0.961451,0,0.038549,0.318842
1,1094,Box,to build a fort,3,4,build fort,0.977324,0,0.022676,0.473327
2,1094,Box,as an umbrella,3,4,umbrella,0.732426,0,0.267574,0.024789
3,1094,Box,to catch a bunny,3,4,catch bunny,0.997732,1,0.002268,0.915114
4,1093,Box,standing on,2,2,standing,0.732426,0,0.267574,0.024789
...,...,...,...,...,...,...,...,...,...,...
442,1372,Box,trap unwanted bugs or animals,3,3,trap unwanted bug animal,0.995465,0,0.004535,0.840595
444,1525,Box,cut it open and use it as a floor mat,2,4,cut open floor mat,0.732426,0,0.267574,0.024789
445,1525,Box,use it as a support to put things on,2,3,support,0.993197,0,0.006803,0.774822
446,1525,Box,let a cat play in it,3,3,let cat play,0.970522,0,0.029478,0.395768
447,1525,Box,return things,2,1,return,0.732426,0,0.267574,0.024789

In [36]:
get_originality_count_vectorizer(originality_dict['autdata_official_box'], sf.stopwords_edited, 80, True, False)

(       id item                               response  novelty_1  novelty_2  \
 0    1094  Box                        to store things          1          1
 1    1094  Box                        to build a fort          3          4
 2    1094  Box                         as an umbrella          3          4
 3    1094  Box                       to catch a bunny          3          4
 4    1093  Box                            standing on          2          2
 ..    ...  ...                                    ...        ...        ...
 442  1372  Box          trap unwanted bugs or animals          3          3
 444  1525  Box  cut it open and use it as a floor mat          2          4
 445  1525  Box   use it as a support to put things on          2          3
 446  1525  Box                   let a cat play in it          3          3
 447  1525  Box                          return things          2          1

            response_processed  cluster_freq  originality      freq    t_freq
 0                       store      0.961451            0  0.038549  0.318842
 1                  build fort      0.977324            0  0.022676  0.473327
 2                    umbrella      0.732426            0  0.267574  0.024789
 3                 catch bunny      0.997732            1  0.002268  0.915114
 4                    standing      0.732426            0  0.267574  0.024789
 ..                        ...           ...          ...       ...       ...
 442  trap unwanted bug animal      0.995465            0  0.004535  0.840595
 444        cut open floor mat      0.732426            0  0.267574  0.024789
 445                   support      0.993197            0  0.006803  0.774822
 446              let cat play      0.970522            0  0.029478  0.395768
 447                    return      0.732426            0  0.267574  0.024789

 [441 rows x 10 columns],
       id  originality
 0   1087            1
 1   1093            2
 2   1094            1
 3   1102            0
 4   1104            0
 ..   ...          ...
 84  1599            0
 85  1603            0
 86  1610            0
 87  1614            0
 88  1621            0

 [89 rows x 2 columns])